@use '../abstracts/variables' as *;
.dark-mode-toggle {
	border-radius: 1rem;
	padding: 1rem;
	background-color: $bg-dark;
	background-image: linear-gradient(
		to right bottom,
		transparent,
		adjust-color($color: $bg-dark, $lightness: 30%)
	);
	font-weight: 600;
	border: 2px solid transparent;
	color: white;
	cursor: pointer;
	transition: all 0.2s ease;
	&:hover {
		transform: translateY(-5px);
		box-shadow: 2px 4px 8px $bg-dark;
	}
	:is(.dark &) {
		background-color: lightgray;
		color: black;
		&:hover {
			transform: translateY(-5px);
			box-shadow: 2px 4px 8px black;
		}
	}
}
