@use './base/vendors';
@use './base/reset';
@use './base/typography';

@use './abstracts/variables' as *;

html.dark {
	background-color: $bg-dark;
	color: white;
	body {
		background-color: inherit;
		color: inherit;
	}
}
