---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<article>
				<h1>🧑‍💻 Hey there, dev!</h1>
				<p>
					This is a starter wiki where KJ can dump his thoughts until
					the team decides on a better place to put information.
				</p>
				<p>
					In this wiki, we will hopefully begin to define styles, code
					standards, etc. Let's get started!
				</p>
				<p>
					Add markdown files to
					`/src/content/blog/wherever-makes-logical-sense`
				</p>
			</article>
			<aside class="from-astro">
				<cite>
					<p>
						This template comes with a few integrations already
						configured in your
						<code>astro.config.mjs</code> file. You can customize your
						setup with
						<a href="https://astro.build/integrations"
							>Astro Integrations</a
						> to add tools like Tailwind, React, or Vue to your project.
					</p>
					<p>
						Have fun! If you get stuck, remember to <a
							href="https://docs.astro.build/"
							>read the docs
						</a> or <a href="https://astro.build/chat"
							>join us on Discord</a
						> to ask questions.
					</p>
				</cite>
				<h2>&ndash; From Astro</h2>
			</aside>
		</main>
		<Footer />
		<style lang="scss">
			@use '../styles/abstracts/variables' as *;
			.from-astro {
				font-family: monospace;
				background-color: adjust-color($color: white, $lightness: -30%);
				color: black;
				padding: 2rem;
				border-radius: 1rem;
				h2 {
					color: black;
				}
				:is(.dark) & {
					background-color: adjust-color(
						$color: $bg-dark,
						$lightness: 30%,
						$alpha: 1
					);
				}
			}
		</style>
	</body>
</html>
