---
import { SITE_DESCRIPTION } from '../consts';
const today = new Date();
---

<footer>
	<span class="copyright"
		>&copy; {today.getFullYear()} Choctaw Nation of Oklahoma. All rights reserved.</span
	>
	<span class="subheadline">{SITE_DESCRIPTION}</span>
</footer>
<style lang="scss">
	@use '../styles/abstracts/variables' as *;
	footer {
		margin-top: 2rem;
		padding: 25px;
		text-align: center;
		display: flex;
		flex-direction: column;
		align-items: stretch;
		// background-color: adjust-color($color: white, $lightness: -40%);
		// color: $bg-dark;
		:is(.dark &) {
			// background-color: adjust-color($color: $bg-dark, $lightness: 40%);
		}
	}
</style>
