---
import { SITE_TITLE } from '../consts';
import DarkModeToggle from './DarkModeToggle.jsx';
import Navbar from './Navbar.astro';
---

<header>
	<div class="header">
		<div class="header__text">
			<h1>
				{SITE_TITLE}
			</h1>
		</div>

		<DarkModeToggle client:load />
	</div>

	<Navbar />

	<style lang="scss">
		header {
			margin: 0em 0 2em;
		}
		h2 {
			margin: 0.5em 0;
		}
		.header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	</style>
</header>
<script is:inline>
	const theme = (() => {
		if (
			typeof localStorage !== 'undefined' &&
			localStorage.getItem('theme')
		) {
			return localStorage.getItem('theme');
		}
		if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
			return 'dark';
		}
		return 'light';
	})();

	if (theme === 'light') {
		document.documentElement.classList.remove('dark');
	} else {
		document.documentElement.classList.add('dark');
	}
	window.localStorage.setItem('theme', theme);
</script>
