---
import HeaderLink from './HeaderLink.astro';
---

<nav>
	<HeaderLink href="/">Home</HeaderLink>
	<HeaderLink href="/blog">Blog</HeaderLink>
	<HeaderLink href="/about">About</HeaderLink>
	<HeaderLink
		class="highlight"
		href="https://github.com/choctaw-nation"
		target="_blank">
		Our GitHub
	</HeaderLink>
</nav>
