---
import HeaderLink from './HeaderLink.astro';
---

<nav>
	<HeaderLink href="/cno-wiki/">Home</HeaderLink>
	<HeaderLink href="/cno-wiki/docs">Docs</HeaderLink>
	<HeaderLink
		class="highlight"
		href="https://github.com/choctaw-nation"
		target="_blank">
		Our GitHub
	</HeaderLink>
</nav>
