---
const { title } = Astro.props;
---

<div class="tip">
	<h3 class="tip__title">{title}</h3>
	<div class="tip__content">
		<slot />
	</div>
</div>
<style lang="scss" is:global>
	@use '../styles/abstracts/variables' as v;
	.tip {
		border-width: 2px;
		border-style: solid;
		border-color: transparent;
		border-radius: 1rem;
		padding: 1rem;
		margin-bottom: 2rem;
		background-color: indigo;
		background-image: v.$purple-gradient;
		&__title {
			color: white;
		}
		&__content {
			color: white;
			a {
				color: white;
			}
		}
	}
</style>
