---
const { content } = Astro.props;
const READING_SPEED = 200;
const wordCount = content.split(/\s+/g).length;
const readingTime = Math.ceil(wordCount / READING_SPEED);
---

<div class="reading-time"></div>
<p>
	{
		`Estimated reading time: ${readingTime} minute${
			readingTime === 1 ? '' : 's'
		}`
	}
</p>
